@model GameNight.Models.User
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


<div>
    <h2>@Model.Username</h2>
    <div>
        <img src="@Model.ProfilePic" />
    </div>
    <br />
    <h3>@Model.FirstName @Model.LastName</h3>
</div>
<div>
    <h5>Bio: </h5>
    <p>@Model.Bio</p>
</div>
<div>
    <h5>Location: </h5>
    @Model.Location
</div>
<div>
    <h5>Wins/Losses</h5>
    <p> @Model.Win - @Model.Lose</p>  

</div>

@if (Convert.ToInt32(HttpContextAccessor.HttpContext.Session.GetString("UserId")) == Model.Id)
{
    <h3>Your Favorite Games</h3>
}
else
{
    <h3>@Model.Username's Favorite Games</h3>
}

@foreach (var userGame in Model.Games)
{
    <div>
        @userGame.Game.Title
    </div>
    <div>
        @if (Convert.ToInt32(HttpContextAccessor.HttpContext.Session.GetString("UserId")) == Model.Id)
        {
            <a class="btn btn-primary" href="/UserGame/Delete/@userGame.Id">Remove From Favorites</a>
        }
    </div>
}

@if (Convert.ToInt32(HttpContextAccessor.HttpContext.Session.GetString("UserId")) == Model.Id)
{
<a class="btn btn-primary" href="/UserGame/Create/?userId=@Model.Id">Add Favorite</a>
}

@if (Convert.ToInt32(HttpContextAccessor.HttpContext.Session.GetString("UserId")) == Model.Id)
{
    <h3>Your Events</h3>
}
else
{
    <h3>@Model.Username's Events</h3>
}

@foreach (var userEvent in Model.Events)
{
    <div>
        @userEvent.Event.Name
    </div>
    <div>
        @userEvent.Event.PlayedOn
    </div>
    <div>
        @userEvent.Event.Location
    </div>
}

@if (Convert.ToInt32(HttpContextAccessor.HttpContext.Session.GetString("UserId")) == Model.Id)
{
    <a class="btn btn-primary" href="/User/Delete/@Model.Id">Delete Account</a>
    <a class="btn btn-primary" href="/User/Update/@Model.Id">Update Account</a>

}

