@model GameNight.Models.Event

@{
    ViewData["Title"] = "Close";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Close Out Event</h1>

<h4>Event has concluded. Enter final results.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @foreach (var item in Model.Attendees)
        {
            @*<input type="hidden" asp-for="@item.Id" />
            <input type="hidden" asp-for="@item.EventId" />*@
            <p>Did @item.User.Username win?</p>
            @*<input type="checkbox" asp-for="@item.IsWin" />*@
            @if(item.IsWin)
            {
                <p>Winner!</p>
            }
            else if(!item.Active)
            {
                <p>Loser :(</p>
            }

            @*<div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>*@
            @if (item.Active)
            {
                <a class="btn btn-primary" href="/UserEvent/Close/@item.Id">Resolve Player Outcome</a>
            }
        }

        @if (Model.Attendees.Where(a => a.Active == true).Count() == 0)
        {
            <form asp-action="close">

                <input type="hidden" asp-for="@Model.Id" />
                <input type="hidden" asp-for="@Model.OwnerId" />
                <input type="hidden" asp-for="@Model.Owner" />
                <input type="hidden" asp-for="@Model.Active" />
                <input type="hidden" asp-for="@Model.PlayedOn" />
                <input type="hidden" asp-for="@Model.Location" />
                <input type="hidden" asp-for="@Model.GameId" />
                <input type="hidden" asp-for="@Model.Name" />

                <input type="submit" value="Close Event" class="btn btn-primary" />

            </form>

        }

    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
