@model GameNight.Models.Event
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="box">
    <div class="content">
        <h3>@Model.Name</h3>
        <p>Location: @Model.Location</p>
        <p>Date: @Model.PlayedOn</p>
        <p>Game: @Model.Game.Title</p>
        <p>Created by: @Model.Owner</p>
    </div>
</div>
@if (Convert.ToInt32(HttpContextAccessor.HttpContext.Session.GetString("UserId")) == Model.OwnerId && Model.Active)
{
    <a class="btn btn-primary" href="/Event/Update/@Model.Id">Edit Event</a>
    <a class="btn btn-primary" href="/Event/Close/@Model.Id">Close Event</a>
}


@foreach (var userEvent in Model.Attendees)
{
<div>
    <a href="/User/Details/@userEvent.UserId">@userEvent.User.Username</a>
    @if (!Model.Active)
    {
        @if (userEvent.IsWin)
        {
            <h6>Winner</h6>
        }
        else
        {
            <h6>Loser</h6>
        }
    }

</div>
    


    <div>
        @if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("UserId")) && Model.Active)
        {
            <a class="btn btn-primary" href="/UserEvent/Delete/@userEvent.Id">Remove Player From Event</a>
        }
    </div>
}

@if (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("UserId")) && Model.Active)
{
<a class="btn btn-primary" href="/UserEvent/Create/?eventId=@Model.Id">Add Player to Event</a>
}



<a class="btn btn-primary" href="/Event/Index/">Event Board</a>


